<!-- Imports polymer -->
<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../iron-ajax/iron-ajax.html">
<link rel="import" href="../iron-icons/iron-icons.html">
<link rel="import" href="../iron-icon/iron-icon.html">
<link rel="import" href="../iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../iron-localstorage/iron-localstorage.html">
<link rel="import" href="../paper-card/paper-card.html">
<link rel="import" href="../paper-input/paper-input-container.html">
<link rel="import" href="../paper-input/paper-input.html">
<link rel="import" href="../paper-input/paper-textarea.html">
<link rel="import" href="../paper-tooltip/paper-tooltip.html">
<link rel="import" href="../paper-button/paper-button.html">
<link rel="import" href="../paper-dialog/paper-dialog.html">
<link rel="import" href="../paper-spinner/paper-spinner.html">
<link rel="import" href="../paper-checkbox/paper-checkbox.html">
<link rel="import" href="../paper-radio-group/paper-radio-group.html">
<link rel="import" href="../paper-radio-button/paper-radio-button.html">
<link rel="import" href="../protein-digester/protein-digester.html">
<link rel="import" href="../peptide-modifier/peptide-modifier.html">

<script src="glycanMassCalculator.js"></script>
<script src="../fishtones-js/dist/fishtones-js-bundle-min.js"></script>

<!-- Defines element markup -->
<dom-module id="pepsweetener-dataset-generator">
    <style is="custom-style" include="iron-flex iron-flex-alignment"></style>
    <style>
        :root {
            --paper-input-container-input: {
                border: solid #f7f7f9 .1rem;
            };

            --paper-input-container-label:{
                padding-bottom: 10px;
                font-size: 22px;
                line-height: 28px;
            };

            /* Label and underline color when the input is focused */
            --paper-input-container-focus-color: blue;

            /* Label and underline color when the input is invalid */
            --paper-input-container-invalid-color: red;

            /* Input foreground color */
            --paper-input-container-input-color: black;

            --paper-spinner-stroke-width: 4px;

            --paper-tooltip: {
                padding: 40px;
                opacity: 0.95;
                border-radius: 5px;
                line-height: 32px;
                font-size: 18px;
                font-family: "Roboto";
            };

            --paper-input-error: {
                font-size: 18px;
                margin-top: 5px;
            };

            --paper-card: {
                display: inline;
                box-shadow: none;
            };

            --paper-card-header:{
                margin: 10px;
            };
            --paper-card-header-color: var(--paper-indigo-500);

            --paper-card-header-text: {
                font-size: 20px;
                padding: 15px 0 0 5px;
            };
        }

        .card-content {
            margin: 10px;
            border: 1px solid var(--paper-indigo-500);
        }

        .card-actions {
            margin: 20px 0 0 0;
            padding: 0;
        }

        paper-button {
            box-shadow: 5px 5px 6px -1px rgba(0, 0, 0, 0.4);
        }

        paper-radio-group {
            margin-bottom: 10px;
        }

        paper-spinner {
            top: 280px;
            left: 43.5%;
            height: 120px;
            width: 120px;
            position: absolute;
            z-index: 10;
        }

        paper-button.indigo {
            font-family: "Roboto";
            background-color: var(--paper-indigo-500);
            color: white;
            right: 0;
            max-width: 200px;
            --paper-button-raised-keyboard-focus: {
                background-color: var(--paper-indigo-a300) !important;
                color: white !important;
            };
        }

        paper-checkbox {
            margin-top: 10px;
        }

        paper-dialog {
            position: fixed;
            text-align: center;
            margin: 30px;
            width: auto;
            height: auto;
            overflow: auto;
        }

        paper-input {
            margin-bottom: 20px;
            width: 450px;
        }

        paper-tooltip {
            font-size: 40px;
        }

        .fileInput {
            min-width: 450px;
        }

        .mainContainerForm {
            margin-left: 36px;
            margin-right: 36px;
            padding-bottom: 15px;
            border: 1px solid rgba(0, 0, 0, 0.2);
            border-radius: 0 0 5px 5px;
            min-width: 759px;
        }

        .buttonContainer {
            margin-right: 10px;
            height: 50px;
        }

        .modificationsBox{
            margin: 0 0 20px 0;

        }

        .modificationCheckbox {
            min-width: 225px;
            padding: 0 20px 0 0;
        }

        #submit {
            float: right;
        }

        protein-digester[disabled]{
            display: none;
        }

        paper-input[disabled]{
            display: none;
        }

        .layout {
            padding-left: 10px;
        }

        div[invalid]{
            border: 2px solid var(--paper-red-500);
        }

        div[invalid]:before {
            color: var(--paper-red-500);
            font-size: 20px;
            content: "Missing input!:";
        }

    </style>
    <template>
        <iron-ajax
            id="compFileAjax"
            handle-as="text"
            on-response="loadCompositions">
        </iron-ajax>
        <div class="mainContainerForm">
            <form is="iron-form" id="newDatasetForm">
                <paper-card heading="Peptide input ({{peptides.length}})" invalid>
                    <div id="peptideInputContainer" class="card-content">
                        <paper-radio-group selected="{{peptideInput}}">
                            <paper-radio-button name="digest" on-change="_showProteinDigester">Protein digestion</paper-radio-button>
                            <paper-radio-button name="upload" on-change="_showPeptideUpload">List of peptides</paper-radio-button>
                        </paper-radio-group>
                        <iron-localstorage id="peptideInput" name="peptideInput" value="{{peptideInput}}"
                                           on-iron-localstorage-load-empty="_initializeDefaultPeptideInput">
                        </iron-localstorage>
                        <div class="layout horizontal wrap">
                            <protein-digester id="digester" protein-sequence="{{proteinSequence}}" peptides="{{peptides}}" sites="{{sites}}"></protein-digester>
                        </div>
                        <div class="layout horizontal wrap">
                            <paper-input id="peptideFile" type=file label="List of peptides" error-message="Please check the peptide list!" on-change="loadPeptideFile" disabled></paper-input>
                            <paper-tooltip for="peptideFile">
                                <b>Peptide input Tips:</b></br></br>
                                - Only plain text files are supported</br>
                                - Peptides must be separated by a comma</br>
                                - Check the about section to learn how to include modifications</br>
                                - Lines starting with "#" character are ignored
                            </paper-tooltip>
                        </div>
                        <div class="card-actions">
                            <div class="layout horizontal wrap">
                                <div class="fileInput layout vertical widthInput">
                                    <paper-checkbox id="filterNSites" checked="{{nSitesFilter}}">Filter peptides containing N-glycosite sequence motif</paper-checkbox>
                                    <iron-localstorage name="nSitesFilterCache" value="{{nSitesFilter}}"></iron-localstorage>
                                    <paper-checkbox id="filterOSites" checked={{oSitesFilter}}>Filter peptides containing at least one Ser/Thr residue</paper-checkbox>
                                    <iron-localstorage name="oSitesFilterCache" value="{{oSitesFilter}}"></iron-localstorage>
                                </div>
                                <paper-dialog id="dialog"></paper-dialog>
                            </div>
                        </div>
                    </div>
                </paper-card>
                <paper-card heading="Glycan input ({{glycans.length}})">
                    <div id="glycanInputContainer" class="card-content">
                        <paper-radio-group id="glycanChoice" selected="{{glycanInput}}">
                            <paper-radio-button on-change="_loadCompNGlycans" name="compNGlycans">Use Glyconnect N-glycans</paper-radio-button>
                            <paper-radio-button on-change="_loadCompAll" name="compAll">Use Glyconnect</paper-radio-button>
                            <paper-radio-button name="upload" on-change="_showGlycanUpload">List of glycans</paper-radio-button>
                        </paper-radio-group>

                        <iron-localstorage name="glycanInput" value="{{glycanInput}}"
                                           on-iron-localstorage-load-empty="_initializeDefaultGlycanInput">
                        </iron-localstorage>
                        <div class="fileInput layout vertical widthInput">
                            <paper-input id="glycanInput" label="List of glycans" type="file" label="List of glycans" error-message="Please check the glycan list!" on-change="loadGlycanFile" disabled></paper-input>
                            <paper-tooltip for="glycanInput">
                                <b>Glycan input Tips:</b></br></br>
                                - Only plain text files are supported</br>
                                - Glycan compositions must be separated by a comma</br>
                                - Only the following glycan monomers are permitted:</br>
                                <code>Pen, dHex, Hex, HexA, HexNAc, Kdn, NeuAc, NeuGc, Fuc, S, P</code></br>
                                - Count for each composition should be placed after a colon</br>
                                - Each glycan monomer is separated by vertical bar character (|)</br>
                                - Glycan composition spelling is case sensitive</br>
                                - A valid glycan composition examples:</br>
                                <code>Hex:4|S:1|NeuAc:1|HexNAc:5, Hex:5|dHex|HexNAc:5 </code></br>
                                (missing count value after monomer is interpreted as one occurrence)</br>
                            </paper-tooltip>
                        </div>
                    </div>
                </paper-card>
                <peptide-modifier id="peptideModifier" peptides="{{peptides}}"></peptide-modifier>
                <div class="buttonContainer">
                    <paper-button raised class="indigo" id="submit" on-click="generate"><iron-icon icon="create-new-folder"></iron-icon>&nbsp;generate</paper-button>
                </div>
            </form>
        </div>
        <paper-spinner name="spinner" id="spinner" alt="Generating dataset"></paper-spinner>
    </template>

    <!-- Registers custom element -->
    <script>
        Polymer({
            is: 'pepsweetener-dataset-generator',
            properties: {
                peptides: {
                    type: Array
                },
                glycans: {
                    type: Array,
                    value: []
                },
                combinationLimit: {
                    type: Number,
                    value: 8000000
                },
                proteinSequence: {
                    type: String,
                    observer: '_updateSites'
                },
                peptideInput: {
                    observer: '_updatePeptideInput'
                },
                glycanInput: {
                    observer: '_updateGlycanInput'
                },
                glycansUnicarb: {
                    type: Array,
                    value: []
                },
                glycopeptides: {
                    type: Object,
                    notify: true,
                    readOnly: false
                },
                nSitesFilter: {
                    type: Boolean,
                    value: false,
                    observer: '_filterNsites'
                },
                oSitesFilter: {
                    type: Boolean,
                    value: false,
                    observer: '_filterOsites'
                },
                sites: {
                    type: Array,
                    value: []
                },
                datasetLength: {
                    type: Number,
                    notify: true
                }
            },
            attached: function(){
                if (!(window.File && window.FileReader && window.FileList && window.Blob)) {
                    alert('The File APIs are not fully supported in this browser.');
                }
                this.massBuilder = fishtones.dry.MassBuilder;
            },
            _updateGlycanInput: function(){
                if(this.glycanInput=="compNGlycans"){
                    this._loadCompNGlycans();
                }else if(this.glycanInput=="compAll"){
                    this._loadCompAll();
                }else if(this.$.glycanInput=="upload"){
                    this._showGlycanUpload();
                }
            },
            _loadCompNGlycans: function(){
                this.$.compFileAjax.url = this.resolveUrl('compositions/compositions-nglycans.txt');
                this.$.compFileAjax.generateRequest();
                this._hideGlycanUpload();
            },
            _loadCompAll: function(){
                this.$.compFileAjax.url = this.resolveUrl('compositions/compositions-all.txt');
                this.$.compFileAjax.generateRequest();
                this._hideGlycanUpload();
            },
            _validateGlycans: function(){
                if(this.glycans.length==0){
                    this.$.glycanInput.setAttribute('invalid', true);
                    this.$.glycanInputContainer.setAttribute('invalid', true);
                    this.$.spinner.active = false;
                    return false;
                }
                this.$.glycanInput.removeAttribute('invalid');
                this.$.glycanInputContainer.removeAttribute('invalid');
                return true;
            },
            loadGlycanFile: function(evt){
                var file = evt.target.files[0];
                var reader = new FileReader();
                var data=this;
                reader.onload = (function(theFile) {
                    return function(e) {
                        var result = e.target.result;
                        var commentLines = result.match(/#.+/g);
                        if (commentLines){
                            for (var i in commentLines){
                                var line = commentLines[i];
                                result = result.replace(line, "");
                            }
                        }
                        var glycanList = result.split(",").filter(String);
                        for(var i=0; i<glycanList.length; i++){glycanList[i] = glycanList[i].trim()};

                        var nonRedundantGlycanList = glycanList.filter(function(item, pos) {
                            return glycanList.indexOf(item) == pos;
                        });
                        data.glycans =nonRedundantGlycanList;
                    };
                })(file);
                reader.readAsText(file);
            },
            _updatePeptideInput: function(){
                if(this.peptideInput=="digest"){
                    this._showProteinDigester();
                    if(this.$.digester.peptides.length==0){
                        this.$.digester.digest();
                    }
                }else if(this.peptideInput=="upload"){
                    this._showPeptideUpload();
                }
            },
            _validatePeptides: function () {
                if (this.peptides.length==0){
                    this.$.peptideFile.setAttribute('invalid', true);
                    this.$.peptideInputContainer.setAttribute('invalid', true);
                    this.$.spinner.active = false;
                    return false;
                }
                this.$.peptideFile.removeAttribute('invalid');
                this.$.peptideInputContainer.removeAttribute('invalid');
                return true;
            },
            loadPeptideFile: function(evt){
                if(evt){this.peptideFile = evt.target.files[0];}
                var reader = new FileReader();
                var data=this;
                reader.onload = (function(theFile) {
                    return function(e) {
                        var result = e.target.result;
                        var commentLines = result.match(/#.+/g);
                        if (commentLines){
                            for (var i in commentLines){
                                var line = commentLines[i];
                                result = result.replace(line, "");
                            }
                        }
                        var peptideList = e.target.result.split(",");
                        for(var i=0; i<peptideList.length; i++){peptideList[i] = peptideList[i].trim()};

                        var nonRedundantPeptideList = peptideList.filter(function(item, pos) {
                            return peptideList.indexOf(item) == pos;
                        });
                        data.peptides = nonRedundantPeptideList;
                        data._updateSites();
                        data._validatePeptides();
                    };
                })(this.peptideFile);
                reader.readAsText(this.peptideFile);
            },
            loadCompositions: function(request) {
                var glycanList = request.detail.response.split(",").filter(String);
                for(var i=0; i<glycanList.length; i++){glycanList[i] = glycanList[i].trim()};
                var nonRedundantGlycanList = glycanList.filter(function(item, pos) {
                    return glycanList.indexOf(item) == pos;
                });
                this.glycans = nonRedundantGlycanList;
                this._validateGlycans();
            },
            _checkCombinationLimit: function(){
                if(this.glycans.length*this.peptides.length>this.combinationLimit){
                    this.$.dialog.innerHTML =
                        "<h2>The dataset generator has a limit of "+
                        this.combinationLimit.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
                        +" combinations.</br> Please reduce list of peptides and/or glycans.</h2>";
                    this.$.dialog.open();
                    this.$.spinner.active = false;
                    return false;
                }
                return true;
            },
            generate: function() {
                this.$.spinner.active = true;
                this.async(function() {
                    if(this._validatePeptides() && this._validateGlycans() && this._checkCombinationLimit()) {
                        this.$.peptideModifier.applyModifications();
                        this.combineGlycansAndPeptides();
                    }
                }, 10);
            },
            combineGlycansAndPeptides: function() {
                this.glycopeptides = null;
                var glycopeptides = {};
                var glycanMasses = {};
                for (var idx in this.glycans){
                    var glycan = this.glycans[idx];
                    glycanMasses[glycan] = getGlycanMolecularMass(glycan);
                }
                this.datasetLength =0;
                for(var idx in this.peptides){
                    var peptide = this.peptides[idx];
                    var peptideMass = this.massBuilder.computeMassRichSequence(peptide);
                    for (var i in this.glycans){
                        var glycan = this.glycans[i];
                        var glycanMass = glycanMasses[glycan];
                        var glycopeptideMass = peptideMass+glycanMass;
                        var bucket = Math.round(glycopeptideMass*10);
                        if(!glycopeptides[bucket]){
                            glycopeptides[bucket] = [];
                        }
                        glycopeptides[bucket].push(new Array(peptide.toString(), glycan, glycopeptideMass));
                        this.datasetLength+=1;
                    }
                }
                this.glycopeptides = glycopeptides;
                this.$.spinner.active = false;
            },
            _updateSites: function(){
                if(this.nSitesFilter){this._filterNsites();}
                if(this.oSitesFilter){this._filterOsites();}
            },
            _filterNsites: function() {
                if(this.peptideInput=='digest') {
                    this._filterNsitesAndDigestProtein();
                }else if(this.peptideInput=='upload'){
                    this._filterNSitesFromPeptideList();
                }
            },
            _filterNsitesAndDigestProtein: function(){
                var sites = [];
                if(this.nSitesFilter){
                    var nSitesRegExp = /N[^P][ST]/g;
                    this.oSitesFilter = false;
                    while((match = nSitesRegExp.exec(this.proteinSequence))!=null){
                        sites.push(match.index);
                    }
                }
                this.sites = sites;
            },
            _filterNSitesFromPeptideList: function() {
                if(this.nSitesFilter){
                    var nSiteRegExp = /N[^P][ST]/;
                    this.oSitesFilter = false;
                    var peptides = [];
                    for(var i in this.peptides){
                        if(nSiteRegExp.test(this.peptides[i].toString())){
                            peptides.push(this.peptides[i]);
                        }
                    }
                    this.peptides=peptides;
                }else {
                    if(this.peptideFile){this.loadPeptideFile();}
                }
            },
            _filterOsites: function() {
                if(this.peptideInput=='digest') {
                    this._filterOsitesAndDigestProtein();
                }else if(this.peptideInput=='upload'){
                    this._filterOSitesFromPeptideList();
                }
            },
            _filterOsitesAndDigestProtein: function() {
                var sites = [];
                if(this.oSitesFilter){
                    var oSitesRegExp = /[ST]/g;
                    this.nSitesFilter = false;
                    while((match = oSitesRegExp.exec(this.proteinSequence))!=null){
                        sites.push(match.index);
                    }
                }
                this.sites = sites;
            },
            _filterOSitesFromPeptideList: function() {
                if(this.oSitesFilter){
                    var oSiteRegExp = /[ST]/;
                    this.nSitesFilter = false;
                    var peptides = [];
                    for(var i in this.peptides){
                        if(oSiteRegExp.test(this.peptides[i].toString())==true){
                            peptides.push(this.peptides[i].toString());
                        }
                    }
                    this.peptides=peptides;
                }else {
                    if(this.peptideFile){this.loadPeptideFile();}
                }
            },
            _showPeptideUpload: function(){
                this.$.digester.setAttribute('disabled', true);
                this.peptides = [];
                this.$$('#peptideFile').removeAttribute('disabled');
            },
            _showProteinDigester: function(){
                this.$$('#peptideFile').setAttribute('disabled', true);
                this.peptides = [];
                this.$.digester.removeAttribute('disabled');
            },
            _showGlycanUpload: function(){
                this.glycans = [];
                this.$$('#glycanInput').removeAttribute('disabled');
            },
            _hideGlycanUpload: function(){
                this.$$('#glycanInput').setAttribute('disabled', true);
            },
            _initializeDefaultGlycanInput: function(){
                return this.set('glycanInput', 'compNGlycans');
            },
            _initializeDefaultPeptideInput: function(){
                return this.set('peptideInput', 'digest');
            }
        });
    </script>
</dom-module>
